
*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-image: url('/images/bodybg.png');
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #648cff;
    padding: 20px;
}

.hero-section{
    display: flex;
    justify-content: space-evenly;
    background-image: url('/images/homebg.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
    font-size: small;
    font-weight: bold;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* Hero section */

.hero-section{
    padding: 20px 100px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 100px 0px;
}

.hero-left h1{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    /* padding-top: 100px; */
    /* width: 80%; */
}

.hero-left-buttons{
    width: 100%;
    display: flex;
    padding-top: 20px;
    display: flex;
    gap: 10px;
    /* width: 80%; */

}

.hero-left-buttons button{
    border: none;
    padding: 10px;
    color: white;
    font-size: .8rem;
    /* width: 15%; */
}

.hero-left-buttons button:first-child{
    background-color: orangered;
}

.hero-left-buttons button:last-child{
    background-color: rgba(0, 0, 255, 0.509);
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px solid black; */
}

.hero-right img{
    height: 70%;
    object-fit: contain;
}


/* perfect-features-section */


.perfect-features-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px  ;
}

.section-header{
    color: rgba(0, 0, 255, 0.612);
}


.section-subhead {
    font-size: .8rem;
    color: gray;
    padding-bottom: 50px;
}


.features{
    display: flex;
    padding: 0px 100px;
}

.feature{
    display: flex;
}

.feature-details{
    padding: 10px;
}

.feature-desc{
    font-size: .8rem;
    color: gray;
    padding-top: 10px;
}


.feature-img {
    padding: 10px;
}

.caraousel-img{
    display: flex;
    justify-content: center;
    /* flex: 1; */
    padding-top: 100px ;
}

.caraousel-img img{
    width: 80%;
}



/* Screenshot section */

.screenshots-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 0px 100px;
}

.screenshots{
    padding-top: 100px;
}

.screenshot{
    display: flex;
}

.screenshot-img img {
    width: 150px;
}

.screenshot-img {
    display: flex;
    justify-content: center;
    padding: 50px;
    position: relative;
}

.screenshot-img span{
    position: absolute;
    rotate: 90deg;
    font-size: 120px;
    z-index: -1;
    color: rgb(214, 208, 208);
}
.cloudy-img span{
    transform: translateX(20%);
    right: -25px;
}
.sunny-image span{
    transform: translateX(20%);
    right: 0px;
}
.rainy-img span{
    transform: translateX(30%);
    right: 0px;
}

.screenshot-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
}

.screenshot-details img{
    width: 20%;
    padding-bottom: 30px;
}
.screenshot-details h3{
    /* width: 20%; */
    font-size: x-large;
    padding-bottom: 10px;
}

.screenshot div{
    flex: 1;
}


/* Review Section */



.review-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px;
}

.reviews{
    padding-top: 50px;
}

.review-rows{
    gap: 100px;
    display: flex;
    padding: 30px 0px;
}

.review{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.review span:first-child{
    align-self: flex-start;
    color: #648cff;
    font-size: 3rem;
    font-weight: bolder;
    rotate: 180deg;
}

.review span:last-child{
    align-self: flex-end;
    color: #648cff;
    font-size: 3rem;
    font-weight: bolder;
}

.review p{
    font-weight: bolder;
    font-size: 1.1rem;
    padding-bottom: 10px;
}

.review span{
    font-size: small;
    /* font-weight: 500; */
}

/* Download section */

.download-section{
    display: flex;
    justify-content: center;
    background-color: #648cff;
    padding: 0px 100px;
}

.download-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0px 100px;
    color: white;
}

.store-images img{
    width: 25%;
    cursor: pointer;
}

.download-left h3{
    font-size: 2rem;
}

.download-left p{
    width: 90%;
    padding: 20px 0px;
    font-size: .9rem;
       
}

.download-right{
    flex: 1;
    height: 100%;
    padding: 100px 100px 0px 0px;
    border: none;
}

.download-right img{
    height: 200px;
    display: block;
}




/* Footer section */

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #403c54;
    color: white;
    padding: 15px;
}

.footer-nav{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-size: small;
    font-weight: bold;
}

.footer-nav ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.footer p{
    padding: 30px 0px 10px 0px;
}

.footer hr{
    width: 80%;
}

.social-handles{
    display: flex;
    gap: 20px;
}

.social-images img{
    width: 15px;
}