*{
    padding: 0px;
    margin: 0px;
}

:root{
    font-size: 15px;

}

.hero-section{
    background-color: #e9ecef;
}

.navbar-ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    gap: 2rem;
    overflow-x: auto;
}

.navbar-ul::-webkit-scrollbar{
    display: none;
}

.navbar-ul-li-a{
    text-decoration: none;
    color: black;    
}


.posts-section-right{
    top: 0px;
}

.footer{
    background-color: #f8f9fa;
}

.trending-post-rigth img{
    border-radius: 0px 5px 5px 0px;
}

.left-hero-section-h1{
    font-size: 4rem;
}

.new-feature-section-left-h2{
    font-size: 3rem;
}

.posts-section-left-article-h2{
    font-size: 3rem;
    
}

.archives-list-ul, .elsewhere-list-ul{
    list-style: none;
    padding: 0px;
}

.posts-section-right-about{
    background-color: #f8f9fa;
}

.post-right-span{
    font-size: small;
}


.dropdown{
    bottom: 10px;
    right: 10px;
    z-index: 200;
}

.dropdown button{
    background-color: #6528e0;
}
.dropdown button:hover{
    background-color: #5622bf;
}


